*{margin: 0;
padding: 0;
text-align: center;
}

body{
    background-color: rgb(134, 223, 255);
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
header{
    margin-bottom: 30px;
}
header h1{
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-bottom: 30px;
}
 
main{
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
    background-color: rgb(26, 133, 255);
    border-radius: 20px;
}
main div{
    display: none;
}

main div:target{
    display: block;
}

h1{font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}


a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;

}
a:hover {
    background-color: rgb(200, 200, 200);
    transition: background-color 0.3s;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-size: 12px; 
    text-align: center;
}
#tarefas {
    margin: 20px auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    font-size: 14px;
}

th {
    background-color: #1a85ff;
    color: white;
    font-weight: bold;
}

td[colspan="3"] {
    background-color: #f0f0f0;
    font-style: italic;
}

ul {
    padding-left: 20px;
    display: inline-block;
    text-align: left;
}